input#startbutton,
input#stopbutton {
    width: 10em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #cccccc;
}

textarea#console_log {
    width: 70%;
    height: calc( 1.3em * 25);
    line-height: 1.3;
}

button#startstop {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}