input#startbutton,
input#stopbutton {
    width: 10em;
}

input#loop_time {
    width: 3em;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #cccccc;
}

button#startstop {
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}